* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: beige;
}

img {
  max-width: 15%;
  max-height: 300px;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 8rem;
}
h3 {
  font-size: 2rem;
}

section {
  display: flex;
  justify-content: space-evenly;
}

article {
  margin-top: 4rem;
  font-size: 1.3rem;
  text-align: center;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: gray;
}

button {
  height: 50px;
  width: 200px;
  background-color: rgb(48, 186, 48);
  font-weight: 700;
}

.chart {
  width: 70vw;
  height: 70vh;
}

.hide {
  display: none;
}

img {
  margin: 8rem -20%;
}
